<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS (load bootstrap from a CDN) -->
 <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
 <title>Add</title>
<link rel="stylesheet" href="main.css">
</head>
 <h1 style="text-align: center;color: black;">FORM</h1>
<body>
    <div class="form">
    <form method="POST" action="/add">
        <label >citation</label>
        <input type="text" name="quote">
        <label >auteur</label>
        <input type="text" name="author">
        <label>Source</label>
        <input type="text">
        <button class="add">add</button>
    </form>
</div>
</body>
</html>