<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <title>Home</title>
</head>
<body>
    <h1 style="text-align: center; color: black;" >Citation</h1>
    <div class="container">
    <div class="quote">
        <h4>Nilson Mandela</h4>
        <p>A winner is a dreamer who never give up</p>
        <p>pintrest quote</p>
    </div>
    <div>
        <h4>Anonymous</h4>
        <p>Trust that when the answer is no there is a yes down the road</p>
        <p>Quotling.com</p>
    </div>
    <div>
        <h4>Stephanie Benett Henry</h4>
        <p>Life is tough my darling but so are you</p>
        <p>livelifehappy.com</p>
    </div>
</div>
</body>
</html>